.TodoHistoryItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  .itemDetail{
    .time{
      color: #999999;
      margin-right: 8px;
    }
    .description{
      color: #222222;
    }
  }

  &:hover{
    background: #F4F4F4;  
    cursor: pointer;
    .action{
      display: block;
    }
  }

  .action{
    display: none;
    span{
      color: deepskyblue;
      margin-right: 4px;
      cursor: pointer;
    }
  }
}